body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 1;
}

header {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

section {
    padding: 100px;
}

#featured-products {
    background-color: #000;
    color: #fff;
}

.carousel-container {
    position: relative;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5em;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.product-card {
    flex: 0 0 300px;
    margin: 0 10px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transition: transform 0.3s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    width: 100%;
    border-radius: 5px;
}

footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
}
